.App {
  text-align: center;
  color: black;
}

.App-link {
  color: #61dafb
}

textarea {
  color: black;
  font-family: 'proxima-nova', 'Roboto';
}

#editor , #preview {
  color: white;
  background:black;
}